.search-bar {

    position: relative;
}

.search-list {
    position: absolute;
    width: 100%;
    z-index: 111;
    -webkit-box-shadow: 0px 18px 23px 1px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 18px 23px 1px rgba(0,0,0,0.71);
    box-shadow: 0px 18px 23px 1px rgba(0,0,0,0.71);
   
}