.nav {
  transition: ease all 0.5s !important;
}
.hide {
  opacity: 0 !important;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}

.page__container {
  margin-top: 80px;
}
